---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: intel-device-plugins

commonAnnotations:
  repo: https://github.com/charlesthomas/homelab-intel-device-plugins-operator

resources:
- resources/crds/deviceplugin.intel.com_dlbdeviceplugins.yaml
- resources/crds/deviceplugin.intel.com_dsadeviceplugins.yaml
- resources/crds/deviceplugin.intel.com_fpgadeviceplugins.yaml
- resources/crds/deviceplugin.intel.com_gpudeviceplugins.yaml
- resources/crds/deviceplugin.intel.com_iaadeviceplugins.yaml
- resources/crds/deviceplugin.intel.com_npudeviceplugins.yaml
- resources/crds/deviceplugin.intel.com_qatdeviceplugins.yaml
- resources/crds/deviceplugin.intel.com_sgxdeviceplugins.yaml
- resources/crds/fpga.intel.com_acceleratorfunctions.yaml
- resources/crds/fpga.intel.com_fpgaregions.yaml
- resources/gpu-device-plugin.yaml
- resources/namespaces.yaml
- resources/node-feature-rules.yaml

helmCharts:
- name: intel-device-plugins-operator
  namespace: intel-device-plugins
  releaseName: intel-device-plugins
  repo: https://intel.github.io/helm-charts/
  valuesFile: helm/values.yaml
  version: 0.34.1
